<!DOCTYPE html>
<html lang="pt-br">
	<head>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet"/>
	<link type="text/css" rel="stylesheet"
		href="../../materialize/css/materialize.min.css" media="screen,projection"/>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cadastro de Aluno</title>
	</head>
	<body class="grey lighten-3">
		<div id="formularioEdicao" class="container">
			<h3 class="main-title center">Visualizar Aluno</h3>
			<div class="row">
				<div class="section">
					<h5>Dados Básicos</h5>
					<div class="row">
						<div class="input-field col s12">
							<input id="first_name" type="text" th:field="${aluno.nome}"
								disabled="disabled"/> <label for="first_name">Nome</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="last_name" type="text" class="datepicker"
								th:field="${aluno.dataNascimento}" disabled="disabled"/> <label
								for="last_name">Dt. Nascimento</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="first_name" type="text" class="validate"
								th:field="${aluno.curso.nome}" disabled="disabled"/> <label
								for="first_name">Curso</label>
						</div>
					</div>
				</div>
				<div class="section">
					<h5>Notas</h5>
					<div class="row">
						<div class="input-field col s12">
							<ul>
								<th:block th:object="${aluno}">
									<li th:each="nota : *{notas}"
										th:text="${'Nota: ' + nota.valor}">Item description
										here...</li>
								</th:block>
							</ul>
						</div>
					</div>
				</div>
				<div class="section">
					<h5>Habilidades</h5>
					<div class="row">
						<div class="input-field col s12">
							<ul>
								<th:block th:object="${aluno}">
									<li th:each="habilidade : *{habilidades}"
										th:text="${'Nome: ' + habilidade.nome + ' - Nível: ' + habilidade.nivel}">Item
										description here...</li>
								</th:block>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 center">
						<button onclick="history.back();"
							class="btn waves-effect waves-light" type="submit" name="action">Voltar</button>
					</div>
				</div>
			</div>
		</div>
	
		<script type="text/javascript"
			src="../../materialize/js/materialize.min.js"></script>
	</body>
</html>